Demo_verkeersboete/nifi-flow.json
{"flowContents":{"identifier":"0858e5f8-b242-36e4-803a-06e25446e0fa","instanceIdentifier":"9e243145-0187-1000-7a0f-e161d330a0c3","name":"nifi-flow (1)","comments":"","position":{"x":461.0,"y":215.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a9f2e397-75af-3b11-8ef4-d40f7c4d251a","instanceIdentifier":"f9f655c3-d69e-37b8-e727-4bf48765912c","name":"SparqlConstructProcessor","comments":"","position":{"x":1960.0,"y":304.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.SparqlConstructProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"sparql-interactions-processor","version":"0.0.1-SNAPSHOT"},"properties":{"SPARQL_CONSTRUCT_QUERY":"CONSTRUCT {?s ?p ?o} WHERE {?s ?p ?o}","INCLUDE_ORIGINAL":"false","DATA_SOURCE_FORMAT":"application/n-quads"},"propertyDescriptors":{"SPARQL_CONSTRUCT_QUERY":{"name":"SPARQL_CONSTRUCT_QUERY","displayName":"SPARQL Construct Query","identifiesControllerService":false,"sensitive":false},"INCLUDE_ORIGINAL":{"name":"INCLUDE_ORIGINAL","displayName":"Include original model","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0858e5f8-b242-36e4-803a-06e25446e0fa"},{"identifier":"19091946-547d-393b-978b-863d1b241a7e","instanceIdentifier":"fa133787-560d-1c21-80ed-ad7d55fc21d3","name":"PostHTTP","comments":"","position":{"x":2008.0,"y":-224.0},"type":"org.apache.nifi.processors.standard.PostHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"Max Data to Post per Second":null,"Max Batch Size":"100 MB","Compression Level":"0","proxy-configuration-service":null,"Send as FlowFile":"false","User Agent":"Apache-HttpClient/4.5.13 (Java/18-ea)","Proxy Port":null,"URL":"http://localhost:8080/verkeersboete","Connection Timeout":"30 sec","Data Timeout":"30 sec","SSL Context Service":null,"Username":null,"Use Chunked Encoding":"false","Attributes to Send as HTTP Headers (Regex)":null,"Content-Type":"${mime.type}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Max Data to Post per Second":{"name":"Max Data to Post per Second","displayName":"Max Data to Post per Second","identifiesControllerService":false,"sensitive":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Send as FlowFile":{"name":"Send as FlowFile","displayName":"Send as FlowFile","identifiesControllerService":false,"sensitive":false},"User Agent":{"name":"User Agent","displayName":"User Agent","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"Attributes to Send as HTTP Headers (Regex)":{"name":"Attributes to Send as HTTP Headers (Regex)","displayName":"Attributes to Send as HTTP Headers (Regex)","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0858e5f8-b242-36e4-803a-06e25446e0fa"},{"identifier":"e355137c-082e-37be-9499-8171199b1b05","instanceIdentifier":"879389b5-3873-306e-a575-91fd3d508527","name":"RDF4JRepositoryMaterialisationProcessor","comments":"","position":{"x":2608.0,"y":280.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.RDF4JRepositoryMaterialisationProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"rdf4j-repository-materialisation-processor","version":"0.0.1-SNAPSHOT"},"properties":{"Named graph":null,"Repository ID":"verkeersboete","RDF4J remote repository location":"http://graphdb:7200","Flowfiles to process simultaneously":"50"},"propertyDescriptors":{"Named graph":{"name":"Named graph","displayName":"Named graph","identifiesControllerService":false,"sensitive":false},"Repository ID":{"name":"Repository ID","displayName":"Repository ID","identifiesControllerService":false,"sensitive":false},"RDF4J remote repository location":{"name":"RDF4J remote repository location","displayName":"RDF4J remote repository location","identifiesControllerService":false,"sensitive":false},"Flowfiles to process simultaneously":{"name":"Flowfiles to process simultaneously","displayName":"Flowfiles to process simultaneously","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0858e5f8-b242-36e4-803a-06e25446e0fa"},{"identifier":"fe62eebd-2bd0-3d6c-b4ae-a080dc086f32","instanceIdentifier":"fa133784-560d-1c21-866a-32012843c22c","name":"ListenHTTP","comments":"","position":{"x":744.0,"y":-240.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"contentListener","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"9004"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0858e5f8-b242-36e4-803a-06e25446e0fa"},{"identifier":"aa4534a5-6b9e-311b-bf0b-098863ef3f04","instanceIdentifier":"bbcf56e4-884c-3d0c-b9aa-d81e8eadfcc6","name":"VersionMaterialiseProcessor","comments":"","position":{"x":1366.44375,"y":311.88125},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.VersionMaterialiseProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"version-materialisation-processor","version":"0.0.1-SNAPSHOT"},"properties":{"MembersOnly":"false","isVersionOf":"http://purl.org/dc/terms/isVersionOf"},"propertyDescriptors":{"MembersOnly":{"name":"MembersOnly","displayName":"Restrict output to members","identifiesControllerService":false,"sensitive":false},"isVersionOf":{"name":"isVersionOf","displayName":"Predicate used for isVersionOf","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0858e5f8-b242-36e4-803a-06e25446e0fa"},{"identifier":"bf167ecb-e372-365b-97c4-8ae9ca11e7fa","instanceIdentifier":"fa133785-560d-1c21-92d2-5845a2637549","name":"CreateVersionObjectProcessor","comments":"","position":{"x":1384.032042269028,"y":-218.48313727787001},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.CreateVersionObjectProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"create-version-object-processor","version":"0.0.1-SNAPSHOT"},"properties":{"DATE_OBSERVED_VALUE_RDF_PROPERTY":"https://uri.etsi.org/ngsi-ld/observedAt","GENERATED_AT_TIME_PROPERTY":"http://www.w3.org/ns/prov#generatedAtTime","DATA_DESTINATION_FORMAT":"n-quads","MEMBER_RDF_SYNTAX_TYPE":"https://politiezonex.be/ns/verkeersboete#Verkeersboete","DELIMITER":"/","VERSION_OF_KEY":"http://purl.org/dc/terms/isVersionOf"},"propertyDescriptors":{"DATE_OBSERVED_VALUE_RDF_PROPERTY":{"name":"DATE_OBSERVED_VALUE_RDF_PROPERTY","displayName":"RDF property to find the timestamp value","identifiesControllerService":false,"sensitive":false},"GENERATED_AT_TIME_PROPERTY":{"name":"GENERATED_AT_TIME_PROPERTY","displayName":"GeneratedAtTime property","identifiesControllerService":false,"sensitive":false},"DATA_DESTINATION_FORMAT":{"name":"DATA_DESTINATION_FORMAT","displayName":"Data destination format","identifiesControllerService":false,"sensitive":false},"MEMBER_RDF_SYNTAX_TYPE":{"name":"MEMBER_RDF_SYNTAX_TYPE","displayName":"IRI to member RDF syntax type","identifiesControllerService":false,"sensitive":false},"DELIMITER":{"name":"DELIMITER","displayName":"Delimiter between entity ID and timestamp value","identifiesControllerService":false,"sensitive":false},"VERSION_OF_KEY":{"name":"VERSION_OF_KEY","displayName":"VersionOf Property","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unparseable"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0858e5f8-b242-36e4-803a-06e25446e0fa"},{"identifier":"ab54ba11-f457-300a-b5bb-9bcb1d87e796","instanceIdentifier":"fa133780-560d-1c21-0c1a-24bcb1e0cc83","name":"LdesClient","comments":"","position":{"x":680.0,"y":312.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.LdesClient","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"ldes-client-processor","version":"0.0.1-SNAPSHOT"},"properties":{"STREAM_TIMESTAMP_PATH_PROPERTY":"false","MAX_RETRIES":"2147483647","DATA_SOURCE_FORMAT":"application/ld+json","STREAM_VERSION_OF_PROPERTY":"false","STATE_PERSISTENCE_STRATEGY":"MEMORY","OAUTH_TOKEN_ENDPOINT":null,"DATA_DESTINATION_FORMAT":"application/n-quads","AUTHORIZATION_STRATEGY":"NO_AUTH","STREAM_SHAPE_PROPERTY":"false","DATA_SOURCE_URL":"http://SamuelVanAckere:8080/verkeersboete","API_KEY_HEADER_PROPERTY":"X-API-KEY","API_KEY_PROPERTY":null,"OAUTH_CLIENT_ID":null,"KEEP_STATE":"false","RETRIES_ENABLED":"false"},"propertyDescriptors":{"STREAM_TIMESTAMP_PATH_PROPERTY":{"name":"STREAM_TIMESTAMP_PATH_PROPERTY","displayName":"Stream TimestampPath property to FlowFile","identifiesControllerService":false,"sensitive":false},"MAX_RETRIES":{"name":"MAX_RETRIES","displayName":"Indicates max number of retries when retries are enabled.","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false},"STREAM_VERSION_OF_PROPERTY":{"name":"STREAM_VERSION_OF_PROPERTY","displayName":"Stream VersionOf property to FlowFile","identifiesControllerService":false,"sensitive":false},"STATE_PERSISTENCE_STRATEGY":{"name":"STATE_PERSISTENCE_STRATEGY","displayName":"How state is persisted (note that memory is volatile).","identifiesControllerService":false,"sensitive":false},"OAUTH_TOKEN_ENDPOINT":{"name":"OAUTH_TOKEN_ENDPOINT","displayName":"Token endpoint used for Oauth2 client credentials flow.","identifiesControllerService":false,"sensitive":false},"DATA_DESTINATION_FORMAT":{"name":"DATA_DESTINATION_FORMAT","displayName":"Data destination format","identifiesControllerService":false,"sensitive":false},"AUTHORIZATION_STRATEGY":{"name":"AUTHORIZATION_STRATEGY","displayName":"Authorization strategy for the internal http client.","identifiesControllerService":false,"sensitive":false},"STREAM_SHAPE_PROPERTY":{"name":"STREAM_SHAPE_PROPERTY","displayName":"Stream shape property to FlowFile","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_URL":{"name":"DATA_SOURCE_URL","displayName":"Data source url","identifiesControllerService":false,"sensitive":false},"API_KEY_HEADER_PROPERTY":{"name":"API_KEY_HEADER_PROPERTY","displayName":"API header that should be used for the API key","identifiesControllerService":false,"sensitive":false},"API_KEY_PROPERTY":{"name":"API_KEY_PROPERTY","displayName":"API key that should be used to access the API.","identifiesControllerService":false,"sensitive":false},"OAUTH_CLIENT_SECRET":{"name":"OAUTH_CLIENT_SECRET","displayName":"Client secret used for Oauth2 client credentials flow","identifiesControllerService":false,"sensitive":true},"OAUTH_CLIENT_ID":{"name":"OAUTH_CLIENT_ID","displayName":"Client id used for Oauth2 client credentials flow","identifiesControllerService":false,"sensitive":false},"KEEP_STATE":{"name":"KEEP_STATE","displayName":"Keep state when the processor is removed from the flow","identifiesControllerService":false,"sensitive":false},"RETRIES_ENABLED":{"name":"RETRIES_ENABLED","displayName":"Indicates of retries are enabled when the http request fails.","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0858e5f8-b242-36e4-803a-06e25446e0fa"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"865747fe-960e-381b-9d0f-1c624ef8684d","instanceIdentifier":"fa133786-560d-1c21-115d-27adcf0c493d","name":"","source":{"id":"fe62eebd-2bd0-3d6c-b4ae-a080dc086f32","type":"PROCESSOR","groupId":"0858e5f8-b242-36e4-803a-06e25446e0fa","name":"ListenHTTP","comments":"","instanceIdentifier":"fa133784-560d-1c21-866a-32012843c22c"},"destination":{"id":"bf167ecb-e372-365b-97c4-8ae9ca11e7fa","type":"PROCESSOR","groupId":"0858e5f8-b242-36e4-803a-06e25446e0fa","name":"CreateVersionObjectProcessor","comments":"","instanceIdentifier":"fa133785-560d-1c21-92d2-5845a2637549"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0858e5f8-b242-36e4-803a-06e25446e0fa"},{"identifier":"f6b0338d-eddb-3db1-ad30-f465f9cb9b94","instanceIdentifier":"f02957c3-78dc-32e4-e1b1-e38eb2442e38","name":"","source":{"id":"aa4534a5-6b9e-311b-bf0b-098863ef3f04","type":"PROCESSOR","groupId":"0858e5f8-b242-36e4-803a-06e25446e0fa","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"bbcf56e4-884c-3d0c-b9aa-d81e8eadfcc6"},"destination":{"id":"a9f2e397-75af-3b11-8ef4-d40f7c4d251a","type":"PROCESSOR","groupId":"0858e5f8-b242-36e4-803a-06e25446e0fa","name":"SparqlConstructProcessor","comments":"","instanceIdentifier":"f9f655c3-d69e-37b8-e727-4bf48765912c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0858e5f8-b242-36e4-803a-06e25446e0fa"},{"identifier":"86a455eb-8e5d-3e4c-85cc-abff1130f54a","instanceIdentifier":"fa133788-560d-1c21-6c93-dc1af3a59126","name":"","source":{"id":"bf167ecb-e372-365b-97c4-8ae9ca11e7fa","type":"PROCESSOR","groupId":"0858e5f8-b242-36e4-803a-06e25446e0fa","name":"CreateVersionObjectProcessor","comments":"","instanceIdentifier":"fa133785-560d-1c21-92d2-5845a2637549"},"destination":{"id":"19091946-547d-393b-978b-863d1b241a7e","type":"PROCESSOR","groupId":"0858e5f8-b242-36e4-803a-06e25446e0fa","name":"PostHTTP","comments":"","instanceIdentifier":"fa133787-560d-1c21-80ed-ad7d55fc21d3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0858e5f8-b242-36e4-803a-06e25446e0fa"},{"identifier":"8a239fae-61c7-3f94-90e9-7e58e7e32035","instanceIdentifier":"220efd2f-1a29-3b53-049a-39bc2cecef21","name":"","source":{"id":"a9f2e397-75af-3b11-8ef4-d40f7c4d251a","type":"PROCESSOR","groupId":"0858e5f8-b242-36e4-803a-06e25446e0fa","name":"SparqlConstructProcessor","comments":"","instanceIdentifier":"f9f655c3-d69e-37b8-e727-4bf48765912c"},"destination":{"id":"e355137c-082e-37be-9499-8171199b1b05","type":"PROCESSOR","groupId":"0858e5f8-b242-36e4-803a-06e25446e0fa","name":"RDF4JRepositoryMaterialisationProcessor","comments":"","instanceIdentifier":"879389b5-3873-306e-a575-91fd3d508527"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0858e5f8-b242-36e4-803a-06e25446e0fa"},{"identifier":"7fd93416-651b-305e-9a43-c39fbe5d1746","instanceIdentifier":"fa133781-560d-1c21-779b-ba1b77da068d","name":"","source":{"id":"ab54ba11-f457-300a-b5bb-9bcb1d87e796","type":"PROCESSOR","groupId":"0858e5f8-b242-36e4-803a-06e25446e0fa","name":"LdesClient","comments":"","instanceIdentifier":"fa133780-560d-1c21-0c1a-24bcb1e0cc83"},"destination":{"id":"aa4534a5-6b9e-311b-bf0b-098863ef3f04","type":"PROCESSOR","groupId":"0858e5f8-b242-36e4-803a-06e25446e0fa","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"bbcf56e4-884c-3d0c-b9aa-d81e8eadfcc6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0858e5f8-b242-36e4-803a-06e25446e0fa"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}